* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1%;
    width: 350px;
    height: 430px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}
.container .container__info {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20%;
    display: flex;
    align-items: flex-end;
    padding: 15px 30px;
    color: #fff;
}
.container .container__info span {
    margin-right: 20px;
}
.container .container__info i {
    margin-right: 10px;
}
.container .container__profile {
    background-color: #e4f2fd;
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.container .container__profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin-right: 10px;
}
.container .container__profile h2 {
    color: #334454;
    font-size: 1.2rem;
}
.container .container__profile p {
    color: #a1b2bc;
    font-size: 0.8rem;
}
.container .container__profile p b {
    font-style: italic;
}
.buttons{
    margin-left: 30px !important;
}
